@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primaryPink: #FF003D;
    --red: #EA2027;
    --primaryBlue: #003399;
    --blue: #333586;
    --darkBlue: #192a56;
    --lightblue: #dde1ebb9;
    --primaryGrey: #4D4D4D;
    --grey: #e5ebf0;
    --pink: #f5d9d9;
    --orange: #ff793f;
    --green: #079992;
}

html {
    scroll-behavior: smooth;
}

/*NAVIGATION (HEADER) STYLE*/

nav {
    background-color: white;
}

nav .btn-danger {
    padding: 10px 30px;
    border: none;
    border-radius: 50px !important;
    background-color: var(--primaryBlue);
}

nav .btn-danger:hover {
    background-color: var(--primaryPink);
    color: white !important;
}

nav button a {
    color: white !important;
}


nav button i {
    color: var(--primaryPink) !important;
    font-size: 28px !important;

}



/*HOME SECTION STYLE*/
#home {
    background-color: white;
    background-size: cover;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
}

#home>div {
    position: relative;
    animation-name: home;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#home .h1 {
    font-weight: 600;
    font-size: 35px;
    color: #FF003D;
    animation: 2s anim-lineUp ease-in;
    padding: 7px 0;
}

#home .h2 {
    font-weight: 300;
    opacity: 0.9;
    font-size: 30px;
    padding: 7px 0;
    animation: 3.3s anim-lineUp ease-in;
}

#home .btn-outline-primary,
#home .btn-outline-success {
    margin-right: 10px;
    border-radius: 50px;
    animation: 2.7s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* BENEFITS SECTION STYLE*/



#benefits {
    background-color: var(--lightblue) !important;
}

#benefits .sub-heading {
    text-align: center;
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}

#benefits .sub-heading img {
    height: 45px;
    margin-right: 7px;
}

#benefits .message {
    padding: 20px 0;
    text-align: justify;
    color: black;
    font-size: 23px;
    text-indent: 60px;
}

#benefits .message .highlight {
    color: var(--primaryPink);
}

#livesafer,
#livehealthier,
#liveeasier,
#liveascommunity {
    background-color: white;
    box-shadow: 0 8px 8px -10px black;
}

#benefits .btn {
    color: var(--primaryPink);
    border: 1px solid var(--primaryPink);
    border-radius: 50px;
    font-size: 20px;
    transition: 0.4s;
}

#benefits .btn:hover {
    color: white;
    background-color: var(--primaryPink);
}


/* REVIEWS SECTION STYLE*/
#reviews h1 {
    text-align: center;
    font-weight: 700;
    color: var(--primaryBlue);
    padding-bottom: 10px;
}

#reviews h4 {
    text-align: center;
    font-weight: 400;
    color: var(--darkBlue);
    padding-bottom: 30px;
}

#reviews .card {
    border-radius: 13px;
    box-shadow: 0 8px 13px -8px black;
}

#reviews .card-header {
    background-color: var(--grey);
    border-radius: 13px 13px 0 0;
}

#reviews .card i {
    font-size: 42px !important;
    padding-right: 14px;
}

#reviews .card-header h6,
#reviews .card-header p {
    margin-bottom: 4;
}


#reviews .card p {
    font-size: 14px;
}

/*PACKAGING  SECTION STYLE*/
#packaging {
    background-color: var(--lightblue);
}


#packaging .card {
    border-radius: 15px;
    box-shadow: 0 8px 13px -8px black;
    transition: 0.2s;

}

#packaging .card:hover {
    transform: scale(1.05);
}

#packaging .card-title {
    font-weight: 500;
    font-size: 35px;
}

#packaging .amount {
    color: var(--primaryPink);
}

#packaging .amount span {
    font-weight: 600;
    font-size: 28px;
}

#packaging .card-text {
    color: blue;
    font-size: 14px;
}

#packaging .card-body ul li {
    list-style: none;
    margin: 15px 0;
}

#packaging .card .btn {
    border: 1px;
}

#packaging .card-body ul li::before {
    content: '';
    display: inline-block;
    background-size: 18px;
    background-position: center;
    margin-right: 8px;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    background-image: url('images/icon.png');
}

#packaging .btn {
    padding: 8px 20px !important;
    color: var(--primaryPink);
    border: 1px solid var(--primaryPink) !important;
    border-radius: 50px;
}

#packaging .btn:hover {
    color: white;
    background-color: var(--primaryPink) !important;
}

/*MEET THE FOUNDER*/
#meetthefounder .banner {
    text-align: center;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--primaryGrey);
}

#meetthefounder p {
    font-size: 22px;
    text-align: justify;
}


/*ENQUIRE SECTION STYLE*/


#enquire h1 {
    text-align: center;
    font-weight: 700;
    color: var(--darkBlue);
    padding-bottom: 10px;
}

#enquire form {

    padding: 0 40px;
}

#enquire form label {
    color: var(--primaryPink);
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0 5px 2px;
}


#enquire input,
#enquire textarea {
    border: 1px solid grey;
    padding: 10px;
}

#enquire input:focus,
#enquire textarea:focus {
    border: 1px solid black;
    background-color: white;
    box-shadow: none;
    outline: none;
}


#enquire form button {
    background-color: var(--primaryBlue) !important;
    border: none;
    box-shadow: 0 8px 7px -9px black;
}

#enquire form button:hover {
    background-color: var(--primaryPink) !important;
}

/* CONTACT SECTION STYLE*/
#contact {
    background-color: var(--grey);
}

#contact a {
    text-decoration: none;
    color: black;
}

#contact i {
    color: var(--red);
    padding: 8px;

}

#contact #social-media-profiles {
    padding: 15px 0;
}

#contact #social-media-profiles i {
    font-size: 30px;
    color: var(--blue);
    border-radius: 50%;
    padding: 13px 14px;

    transition: 0.2s;
}

#contact #social-media-profiles i:hover {
    transform: scale(1.2);
}

/*Mobile*/
@media only screen and (max-width: 576px) {
    nav {
        padding: 10px 0 !important;
    }

    nav div {
        padding: 7px 15px !important;
    }

    nav div img {
        height: 60px !important;
    }

    nav .btn-danger {
        display: none;
    }

    #home {
        padding-top: 120px !important;
    }

    #home .h1 {
        font-size: 26px;
    }

    #home .h2 {
        font-size: 26px;
        font-weight: 400;
        margin-left: 50px;
    }

    #livesafer,
    #livehealthier,
    #liveeasier,
    #liveascommunity {
        padding: 25px !important;
    }

    .sub-heading {
        font-size: 25px !important;

    }

    .sub-heading img {
        height: 33px !important;

    }

    .message {
        padding: 10px 0 !important;
        font-size: 19px !important;
    }

    #livehealthier .sub-heading {
        margin-top: 35px !important;
    }

    #liveascommunity .main-image {
        margin-bottom: 30px;
        display: block;
        margin: auto;
        height: 87%;
        width: 80%;
    }

    #meetthefounder .paragraph p {
        font-size: 16px !important;
        margin: 0 30px !important;
    }

    #meetthefounder iframe {
        height: 200px;
        width: 350px;
    }
}